/*initial setting*/
html, body {
  height: 100%;
  width: 100%;
}

* {
	box-sizing: border-box;
}

html, body, div, span, p, nav, label, ul, li, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-size: 16px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont,
  	"PingFang SC", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
  	"Droid Sans", "Helvetica Neue", Helvetica, arial, "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  color: #010120;
	background-color: #fff;
}

nav {
  display: block;
}

header {
  width: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #555ef1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.1);
  display: block;
}

section {
	padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

button {
	font-size: 16px;
  font-weight: 500;
	text-align: center;
	text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  display: inline-block;
  cursor: pointer;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

a, a:hover, a:focus {
	margin: 0;
	padding: 0;
	text-decoration: none;
  cursor: pointer;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

ul {
	list-style: none;
}

input {
  font-size: 15px;
  font-weight: 500;
	outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
}

.nav-wrapper {
	display: flex; 
  justify-content: space-between;
}

.nav-wrapper a {
	color: #fff; 
	text-transform: capitalize;
	font-size: 16px;
	letter-spacing: 0.1em;
}

.nav-wrapper a:hover{
	opacity: 0.8;
}

.container {
	width: 85%;
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

.nav-left a, nav li {
	padding: 15px;
}

.nav-right {
	display: inline-flex;
	flex-direction: flex-end;
  align-items: center;
}

.nav-left {
	display: inline-flex;
	flex-direction: flex-start;
  align-items: center;
}

.home-bg {
	background-image: url(../images/web-cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}

.home-container {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
}

.home-flex-container {
	display: table-cell;
	text-align: center;
	padding-bottom: 80px;
	vertical-align: bottom;
}

.home-flex-container h2 {
	color: #fff;
	font-family: 'Roboto Mono';
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 400;
}

.category {
	text-align: center;
	margin: 30px 0 70px 0;
  padding-top: 76px;
	font-family: 'Roboto Mono';
	font-size: 22px;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.works-display {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.works-wrapper {
	width: 100%;
	display: flex;
  flex-direction: column;
  align-items: center;
	margin-top: 12px;
}

.works-text {
	width: 100%;
	display: flex;
	flex-direction: column;
  align-items: left;
}

.works-name {
  max-width: 500px;
	font-family: 'Source Sans Pro';
	font-size: 35px;
  color: rgb(5, 94, 232);
	line-height: 42px;
	letter-spacing: 0.6px;
  margin: 5px 0;
}

.works-keywords-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.works-keywords {
  border: 1px solid #010120;
  border-radius: 6px;
  padding: 3px 12px;
  margin: 10px 10px 0px 0px;
}

.works-keywords span {
  font-family: 'Roboto Mono';
  font-size: 15px;
  color: #010120;
  line-height: 18px;
}

.works-description {
	margin: 5px 0;
	color: #010120;
  display: flex;
}

.works-description-eng {
	width: 490px;
  font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
  text-align: justify;
  text-justify: distribute;
	margin-right: 5%;
}

.works-description-cn {
  width: 490px;
	font-size: 17px;
	font-family: 'Source Sans Pro';
	font-weight: 400;
  letter-spacing: 0.1px;
	line-height: 1.7em;
	text-align: justify;
  text-justify: distribute;
  margin-right: 5%;
}

.works-information {
  display: flex;
  width: 100%;
  margin: 40px 0;
}

.works-feature-wrapper {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 45px 0;
}

.works-feature {
  display: flex;
  margin: 25px 0;
}

.works-feature-pic {
  width: 86px;
  height: 86px;
  border-radius: 44px;
  border: 0px solid;
  background-color: #f8f8f8;
  margin-right: 20px;
}

.works-feature-pic img {
  border-radius: 44px;
  border: 0px solid;
  box-shadow: 0px 4px 10px 0 rgba(0,0,0, 0.2);
}

.works-feature-words {
  width: 250px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.works-feature-description-title {
  font-size: 20px;
  font-weight: 400;
}

.works-feature-description {
  margin: 10px 0;
}

.works-feature-description-eng {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify;
  margin-bottom: 5px;
  color: #4a4a4a;
}

.works-feature-description-cn {
  font-size: 16px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify;
  letter-spacing: 0.4px;
  color: #4a4a4a;
}

.works-demo-wrapper {
  margin: 20px 0;
}

.works-demo {
  width: 770px;
  height: 455px;
  padding: 25px 25px;
  border-radius: 8px;
  background: #010120;
  box-shadow: 0px 4px 10px 0 rgba(0,0,0, 0.2);
}

.works-demo iframe {
  width: 720px;
  height: 405px;
}

.works-feature-more {
  margin-top: 20px;
}

.works-keyvisual {
  margin: 5px;
}

.works-photo {
  width: 960px;
  height: auto;
  margin-top: 50px;
}

.works-links-wrapper {
	margin-top: 16px;
}

.works-links-title {
	font-size: 19px;
  color: #010120;
  letter-spacing: 0.9px;
  font-weight: 400;
  text-align: center;
	margin-bottom: 30px;
}

.works-links {
	font-size: 16px;
	display: flex;
	align-items: center;
	margin-bottom: 8px;
  text-align: center;
}

.works-links p {
	margin: 0 15px 0 3px;
}

.links {
	color: #ff3366;
	margin: 0 0 0 3px;
}

.sub-links {
  color: #656565;
  font-weight: 400;
}

.sub-links:hover {
  color: #ff3366;
}

.works-links a:hover {
	font-size: 16px;
}

.works-cta {
	margin: 20px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.works-cta-words {
	font-size: 19px;
	color: #010120;
	letter-spacing: 1.2px;
	font-weight: 400;
	margin: 15px 0;
}

.works-go-btn {
  border-radius: 14px;
  padding: 0.8rem 2.5rem;
  margin: 20px 0;
  width: 130px;
  background: #ff3366;
}

.works-go-btn span {
	font-size: 16px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.works-go-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.works-go-btn:hover span {
  padding-right: 25px;
}

.works-go-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.works-go-btn:focus {
  outline: none;
}

.other-works-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.other-works-name {
  font-size: 28px;
  font-family: 'Source Sans Pro';
  color: rgb(5, 94, 232);
  line-height: 35px;
  letter-spacing: 0.2px;
}

.other-works-cover {
  position: relative;
  width: 408px;
  height: 272px;
  border-radius: 12px;
  box-shadow: 2px 4px 10px 0 rgba(0,0,0, 0.3);
}

.other-works-cover img {
  width: 408px;
  height: 272px;
  border-radius: 12px;
}

.other-works-cover:hover .works-cover-overlay {
  opacity: 1;
}

.other-works-cover:click .works-cover-overlay {
  opacity: 1;
}

.works-cover-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 30%;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(35, 90, 222, .8);
  opacity: 0;
  transition: .5s ease;
}

.works-cover-overlay a {
  color: #fff; 
  font-size: 21px;
  letter-spacing: 2px;
  font-weight: 500;
}

.other-works-text {
  color: #4a4a4a;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.other-works-description {
  width: 470px;
  margin-bottom: 12px;
  color: #4a4a4a;
}

.other-works-description-eng {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify;
  margin-bottom: 5px;
}

.other-works-description-cn {
  font-size: 16px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify;
  letter-spacing: 0.4px;
  color: #010120;
}

.summary {
	display: flex;
	justify-content: center;
  border-radius: 16px;
  box-shadow: 2px 4px 10px 0 rgba(0,0,0, 0.1);
  padding: 20px;
  background-color: #fff;
}

.avatar {
	width: 260px;
  margin: 25px 20px;
}

.personal-info {
	margin: 30px;
}

.personal-info h3 {
	font-size: 1.4em;
	color: #4a4a4a;
	font-weight: 500;
  font-family: 'Source Sans Pro';
	line-height: 1.6em;
}

.personal-info-text {
  display: flex;
  font-size: 1.1em;
  font-family: 'Source Sans Pro';
  text-align: justify;
  color: #4a4a4a;
}

.highlight {
  font-weight: 600;
  color: #4a4a4a;
}

.highlight:hover {
  color: #ff3366;
}

.personal-info-text-eng {
  width: 45%;
	line-height: 26px;
  margin: 15px 50px 15px 0;
}

.personal-info-text-cn {
  width: 45%;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 1.6em;
  margin: 15px 0px 15px 0;
}

.self-learn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.self-learn h3 {
  font-family: 'Roboto Mono';
  font-size: 17px;
  margin: 40px 0;
}

.self-learn-row {
  display: flex;
  margin-bottom: 15px;
}

.self-learn-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 26px 50px;
}

.self-learn-icon {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #f8f8f8;
  margin: 15px 0;
}

.self-learn-title {
  max-width: 250px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 25px;
  margin: 0 0 15px 5px;
  text-align: center;
}

.self-learn-description {
  width: 250px;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #4a4a4a;
}

.my-service, .other-works {
	background-color: #f8f8f8;
}

.service-items ,.contact-items{
	display: flex;
	justify-content: center;
}

.service-content ,.contact-content {
	width: 280px;
	margin: 0 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-pic {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}

.service-pic img {
  border: 0px solid;
  box-shadow: 0px 4px 10px 0 rgba(0,0,0, 0.2);
}

.service-content h3 {
	color: rgb(5, 94, 232);
	font-size: 1.3em;
	letter-spacing: 1.2px;
	font-family: 'Source Sans Pro';
	line-height: 1.6em;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.service-content p,.contact-content p{
	color: #4a4a4a;
	font-size: 1.1em;
	line-height: 1.5em;
	font-family: 'Source Sans Pro';
	text-align: center;
	margin-bottom: 10px;
}

.social-icons {
  width: 95px;
  margin-bottom: 20px;
}

.contact-link a {
	font-size: 1.1em;
	color: #ff3366;
	font-weight: 500;
}

footer {
	padding: 30px 0;
	background-color: #010120;
	color: #fff;
	text-align: center;
}

.footer-content p {
  font-size: 13px;
	line-height: 22px;
	font-weight: 300;
	letter-spacing: 0.2em;
}
